nav{

  padding: {
    left: 20px;
    right: 10px;
    top: 1px;
    bottom: 5px;
  }

  border: 2px  solid #ccc{
    color: #ccc;
    radius: 3px;
  }



  li{
    border:2px solid black{
      radius: 2px;
    }
  }
}
