/* line 1, ../sass/partials/_header.scss */
.site-header {
  background-color: #ff6432;
}

/* line 1, ../sass/partials/_reset.scss */
body {
  margin: 0px;
}

/* line 9, ../sass/style.scss */
.container {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, C:/Ruby22/lib/ruby/gems/2.2.0/gems/susy-2.2.9/sass/susy/output/support/_clearfix.scss */
.container:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 12, ../sass/style.scss */
.logo {
  float: left;
  padding: 0.9375rem;
  line-height: 2rem;
  font-size: 1.5rem;
}

/* line 18, ../sass/style.scss */
nav {
  float: right;
}
/* line 20, ../sass/style.scss */
nav li {
  list-style: none;
  float: left;
  margin-left: 2rem;
  line-height: 2rem;
}

/* line 27, ../sass/style.scss */
img {
  width: 100%;
}

/* line 30, ../sass/style.scss */
.banner {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  margin: 2.5641% 0;
  height: 100%;
}

/* line 35, ../sass/style.scss */
.sidebar {
  width: 23.07692%;
  float: left;
  margin-right: 2.5641%;
}
/* line 37, ../sass/style.scss */
.sidebar ul {
  margin: 0;
  padding: 1.2rem;
}
/* line 41, ../sass/style.scss */
.sidebar li {
  list-style: none;
  font-size: 1.1rem;
  border-bottom: 2px dotted #c6c6c6;
}
/* line 45, ../sass/style.scss */
.sidebar li:last-child {
  border: none;
}
/* line 49, ../sass/style.scss */
.sidebar a {
  display: block;
  padding: 1rem .5rem;
  color: #333;
  line-height: 2;
  text-decoration: none;
}

/* line 57, ../sass/style.scss */
.content {
  width: 74.35897%;
  float: right;
  margin-right: 0;
}

/* line 60, ../sass/style.scss */
.content-item {
  width: 31.03448%;
  float: left;
  margin-bottom: 2.5641%;
}
/* line 66, C:/Ruby22/lib/ruby/gems/2.2.0/gems/susy-2.2.9/sass/susy/language/susy/_gallery.scss */
.content-item:nth-child(3n + 1) {
  margin-left: 0;
  margin-right: -100%;
  clear: both;
  margin-left: 0;
}
/* line 66, C:/Ruby22/lib/ruby/gems/2.2.0/gems/susy-2.2.9/sass/susy/language/susy/_gallery.scss */
.content-item:nth-child(3n + 2) {
  margin-left: 34.48276%;
  margin-right: -100%;
  clear: none;
}
/* line 66, C:/Ruby22/lib/ruby/gems/2.2.0/gems/susy-2.2.9/sass/susy/language/susy/_gallery.scss */
.content-item:nth-child(3n + 3) {
  margin-left: 68.96552%;
  margin-right: -100%;
  clear: none;
}

/* line 64, ../sass/style.scss */
.site-footer {
  margin-top: 2rem;
  padding: 0.6rem 0;
  color: #fff;
}
